<ion-view view-title="Happy Bordeaux">
  <ion-nav-buttons side="left">
      <a  ui-sref='map' class="button button-icon icon ion-map"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a  ng-click="showInfo()" class="button button-icon icon ion-ios-information-outline"></a>
      </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset">
    <h4 class="subtitle"> {{pubs.length}} bars </h4>
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchQuery">
    </label>
    <a class="button button-clear ion-ios-settings-strong button-dark" ng-click="showFilter = !showFilter"></a>
  </div>
<ion-content class="has-subheader">
  <div ng-show="showFilter" class="filters">
    <div class="row">
        <div class="col col-33">
          <input type="checkbox" id="test1" data-ng-model='search.type1' data-ng-true-value="'Beer'" data-ng-false-value=''/>
          <label for="test1"> Beer </label>
        </div>
        <div class="col col-33">
          <input type="checkbox" id="test2" data-ng-model='search.type2' data-ng-true-value="'Cocktail'" data-ng-false-value=''/>
          <label for="test2"> Cocktail </label>
        </div>
        <div class="col col-33">
          <input type="checkbox" id="test3" data-ng-model='search.type3' data-ng-true-value="'Wine'" data-ng-false-value=''/>
          <label for="test3"> Wine </label>
        </div>
      </div>
      <div class="row">
      <div class="col col-25">
        Distance :
      </div>
        <div class="col col-50">
                  <input id="test4" type="range" name="range"  max="2500" min="0"step="1" ng-model="distMax">
        </div>
        <div class="col col-25">
         {{distMax}}m
       </div>
    </div>
  </div>
  <div class="list ">
    <ion-item ui-sref='pub({pubId: pub.id})' ng-repeat="pub in pubs | filter:searchQuery | filter:search.type1 | filter:search.type2 | filter:search.type3 | distFilter:distMax" class="item item-thumbnail-left">
      <img src="{{pub.image}}" />
      <div class="row data">
        <div class="col col-60 leftData">
          <h2>{{pub.name}}</h2>
          <h4>{{pub.location}} - {{pub.distance}}m</h4>
        </div>
        <div class="col col-40 rightData">
          <h2>{{pub.happyStart}}/{{pub.happyEnd}}H</h2>
          <h4>{{pub.price}}€</h4>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
</ion-view>
